$black:#000000;
$white:#FFFFFF;
$red:#F44336;
$green:#4CAF50;
$greenDark:#388E3C;
$greenOlive:#85B8A3;
$brownLight:#E0E0D5;
$vert: #D4EAE1;
$violet: #D85987;
$rosePale:#ED9DBB;
$roseClaire:#F5D6DF;    
$jauneVert: #E9ED71;
