@use"../styles/colors";
@use"../styles/values";

.container {
  font-family: values.$fontTitle;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: colors.$white;
  text-align: center;
  min-height: 100vh;

  h2 {
    color: colors.$greenOlive;
  }

  .contant {
    display: flex;
    width: 100%;
    flex: 1;

    .login{
      margin:auto;
  
    }

    .mainContent {
      width: 100%;
    }

    .mainContentDescription{
      width: 100%;
    }
  }
}




@media screen and (max-width: 700px) {
  .contant {
    flex-direction: column;
    margin-top: 10px;
    width: 100%;

    
    .mainContentDescription{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}