@use"../styles/colors.scss";
@use"../styles/values";

.container {
  font-family: values.$fontTitle;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: colors.$white;
  text-align: center;
  min-height: 100vh;

  h2 {
    color: colors.$greenOlive;
  }

  .contant {
    display: flex;
    width: 100%;
    flex: 1;

    .player {
      max-height: 95vh;
      display: flex;
      justify-content: start;
      align-items: center;
      overflow: hidden;

      .video {
        width: 45%;
        border-radius: 5px;
        margin: 0 auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
    }

    .login {
      margin: auto;

    }

    .mainContent {
      width: 100%;

      .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
      }
    }

    .mainContentDescription {
      width: 100%;
    }
  }
}


@media screen and (max-width: 700px) {
  .contant {
    flex-direction: column;
    margin-top: 10px;
    width: 100%;

    .mainContentDescription {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}