@use "../../Styles/_colors.scss";
@use "../../Styles/_values.scss";


.container {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 300px;
  z-index: 100;
  background-color: colors.$white;
  border-radius: 10px;
 // padding: 10px;
  box-shadow: 0 0 10px 0 rgba(240, 145, 202, 0.3);
  border: solid 1px colors.$greenOlive;
  color:colors.$violet;
  padding: 20px;

  img{
    width: 200px;
  }

  .contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
      p {
          font-family: values.$fontTitle;
          // font-size: values.$font_size_2p;
        }
        button {
            background-color: colors.$violet;
            color: colors.$white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            border: solid 1px colors.$violet;
            cursor: pointer;
            margin-top: 20px auto;
            
            &:hover {
                background-color: colors.$white;
                color: colors.$violet;
                border: solid 1px colors.$violet;
            }
    }
}
}

@media screen and (max-width: 700px) {
  .container {
    max-width: 330px;
    height: 230px;
    text-align: center;
    padding: 0;
    left: 50%; 
    top: 50%; 
    padding: 0;

    .contant{
      margin: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      p {
        
        padding: 10px;
      }
    }
  }
}