@use "../../Styles/_colors.scss";
@use "../../Styles/_values.scss";


.container {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 400px;
  z-index: 100;
  background-color: colors.$white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(240, 145, 202, 0.3);
  border: solid 1px colors.$greenOlive;
  color:colors.$violet;

  img{
    width: 200px;
  }

  .contant{
    flex-direction: column;
    justify-content: center;
    align-items: center;
      p {
          font-family: values.$fontTitle;
          // font-size: values.$font_size_2p;
        }
        button {
            background-color: colors.$violet;
            color: colors.$white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            border: solid 1px colors.$violet;
            cursor: pointer;
            margin-top: 20px;
            
            &:hover {
                background-color: colors.$white;
                color: colors.$violet;
                border: solid 1px colors.$violet;
            }
    }
}
}

@media screen and (max-width: 700px) {
  .container {
    top: 10%;
    max-width: 330px;
    height: 230px;
    text-align: center;
    
    p {

      padding: 10px;
    }
  }
}