@use'../../styles/colors';
@use'../../styles/values';

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0;
    height: 100%;
    box-shadow: 4px 0px 6px -2px rgba(colors.$violet, 0.5);
    background-color: colors.$roseClaire;

    .menu {
        position: absolute;
        display: none;
        right: 0.5rem;
        justify-content: end;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: 50px;

        img {
            width: 50px;
            height: 50px;
            object-fit: contain;
            box-shadow: 0 0 10px 0 rgba(colors.$violet, 0.5);
            background-color: colors.$roseClaire;
            border-radius: 50%;
        }
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 250px;
            height: 250px;
            object-fit: contain;
            border-radius: 50%;
            margin: 20px 0;
            box-shadow: 0 0 10px 0 rgba(colors.$violet, 0.5);
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        list-style: none;

        li {
            list-style: none;
            width: 100%;
            text-align: center;
            padding: 10px 0;
        }

        a {
            text-decoration: none;
            color: colors.$violet;
            display: block;
            padding: 0.5rem;
            margin: 0 1rem;
            border-radius: 0.5rem;
            font-family: values.$fontTitle;
            box-shadow: 0px 0px 10px 0px rgba(colors.$violet, 0.5);

            &:hover {
                background-color: colors.$violet;
                color: colors.$white;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    nav {
        flex-direction: column;
        background-color: transparent;

        .logo {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            padding: 10px;

            img {
                display: none;
            }
        }

        .menu {
            display: flex;
        }

        ul {
            display: none;
            flex-direction: column;
            justify-content: start;
            width: 100%;
            //  margin-bottom: 0.25rem;
            opacity: 0.9;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 250px;


            &.open {
                z-index: 100;
                display: flex;
                justify-content: start;
                background-color: colors.$roseClaire;
                box-shadow: 0px 4px 6px -2px rgba(colors.$violet, 0.5);


            }

            li {
                width: 100%;
                text-align: center;

                a {
                    color: colors.$violet;
                    margin: 0.2rem 0.5rem;
                    text-transform: uppercase;
                    font-size: 1.5rem;

                    &:hover {
                        background-color: none;
                    }

                }
            }
        }
    }
}