@use"../../styles/colors";
@use"../../styles/values";

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: colors.$greenOlive;
    width: 100%;
    color:colors.$white;

    .social {
        display: flex;
        align-items: center;
        justify-content: center;
        gap:15px;

        a {
            text-decoration: none;
            font-family: values.$fontTitle;
            color: colors.$white;

            .icon {
                width: 20px;
                height: 20px;

            }
            &:hover {
                color: colors.$brownLight;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 100%;
        text-align: center;
        padding: 10px;

        p{
            margin: 0;
        }
    }
}