@use"../../../styles/colors";

.container {
    background-color: colors.$whiteDark;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    max-width: 300px;

    .containerIcon{
        padding-top:10px;
        display: flex;
        align-items: center;
        justify-content: end;

        .icon{
            transition: color 0.3s ease;
            cursor:pointer;
        }
    }

    h2{
        color:colors.$greenOlive;
        padding-top:20px;
    }

    img {
        border-radius: 50%;
        width: 200px;
    }

    button {
        background-color: colors.$violet;
        color: colors.$white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        border: solid 1px colors.$violet;
        cursor: pointer;
        margin-top: 20px;

        &:hover {
            background-color: colors.$whiteDark;
            color: colors.$violet;
            font-weight: bold;
            border: solid 1px colors.$violet;
        }
    }
}