@use "../../../styles/colors";
@use "../../../styles/values";

.container {
    width: 600px;
    height: 650px;
    margin: 0 auto;
    padding: 2rem;
    background-color: colors.$whiteDark;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color:colors.$greenOlive;

    .containerForm {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .inputGroup {
            display: flex;
            flex-direction: column;
            text-align: start;
            font-size: 1.3rem;
            select{
                border-radius: 5px;
                border: none;
                border: 1px solid colors.$greenOlive;
                background-color: white;
                width: 250px;
                height: 45px;
                color:colors.$greenOlive;
        
                option{
                    border:none;
                }
            }
            
            .inputGroup label {
                margin-bottom: 0.5rem;
                font-weight: 600;
            }

        }

        .inputGroup input {
            padding: 0.8rem;
            border: 1px solid colors.$greenOlive;
            border-radius: 6px;
            font-size: 1rem;

            
        }
        
        .inputGroup input[type="text"] {
            &:focus {
                outline: none;
                border-color: colors.$greenOlive;
            }
        }
        
        
        .inputGroupfile {
            display: flex;
            flex-direction: column;
            text-align: start;
            font-size: 1.3rem;
            
            .inputGroupfile label {
                margin-bottom: 0.5rem;
                font-weight: 600;
            }

    

            input[type="file"] {
 
                &::-webkit-file-upload-button {
                    visibility: hidden;
                }

                &::file-selector-button {
                    display: none;
                }
            
                position: relative;
                padding: 0.9rem;
                height: 45px;
                border-radius: 6px;
                font-size: 1rem;
                font-weight: lighter;
                background-color: colors.$greenOlive;
                border: 2px solid colors.$white;
                color: colors.$white;
                cursor: pointer;
                
                &:hover {
                    border: 2px solid colors.$greenOlive;
                    background-color: colors.$white;
                    color: colors.$greenOlive;
                }
            }
            
           
        }
    
        .inputGroup textarea {
            padding: 0.8rem;
            border: 1px solid colors.$greenOlive;
            border-radius: 6px;
            font-size: 1rem;
            resize: none;

            &:focus {
                outline: none;
                border-color: colors.$greenOlive;
            }
        }
    }
         
    .button{
        display: flex;
        justify-content: center;
        align-items: center;


        button[type="submit"] {
            margin-top: 20px;
            width: 160px;
            height: 45px;
            padding: 0.9rem;
            background-color:colors.$green;
            color: colors.$white;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.2s ease;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

            &:hover {
                background-color:colors.$greenDark;
            }
        }
    }
}