@use'../../styles/colors.scss';

.container {
    display: flex;
    flex-direction: column;

    .nav {
        text-decoration: none;
        color: colors.$greenOlive;
        text-align: center;
        padding: 10px;

        &:hover {
            background-color: colors.$greenOlive;
            color: colors.$brownLight;
            border-radius: 5px;
        }
    }

}